*{
	font-family: Trebuchet MS;
}

body, ul, li {
	margin: 0;
	padding: 0;
}

p, li, h1, h2, h3, h4 {
	color: #4e4e4e;
}

body {
	background: #f7f7f7;
}

.wrapper {
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2%;
}

header {
	background: #e5e5e5;
	padding: 20px 0;
}

header h1 {
	margin: 0;
    font-family: 'Open Sans', sans-serif;
	width: 330px;
	float: left;
}

header nav {
	float: right;
}

header:after {
	display: block;
	content: "";
	clear: both;
}

header nav li {
	list-style-type: none;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

header nav li a {
	text-decoration: none;
	color: #4e4e4e;
	text-transform: uppercase;
	font-weight: bold;
}

header nav li a.current {
	color: #1abb9c;
}

  /*avatar and buttons*/
#rounded-image {
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 16%;
    left: 41%;

    /*border css*/
    border: 4px outset #e5e5e5;
    padding: 0px;
    background-clip: content-box; /* support: IE9+ */
    background-color: #ccc;
}

#facebook-button {
    position: absolute;
    top: 51.7%;
    left: 40%;
}

#linkedin-button {
    position: absolute;
    top: 53%;
    left: 45%;
    border-radius: 50%;
    background-color: #1883bb;
}

#github-button {
    position: absolute;
    top: 53%;
    left: 49.4%;
    border-radius: 50%;
}

#pastebin-button {
    position: absolute;
    top: 52.7%;
    left: 53.5%;
}

#first-message {
    border-radius: 50px;
    position: absolute;
    top: 26%;
    left: 60%;

    text-align: center;
    color: white;
    padding: 10px;
    background-color: #3285f7;
}

#second-message {
    border-radius: 50px;
    position: absolute;
    top: 36%;
    left: 60%;

    text-align: center;
    color: white;
    padding: 10px;
    background-color: #3285f7;
}

   /*avatar and buttons end of code */

#main-banner picture img {
	width: 100%;
}

#main-banner {
	max-height: 1000px;
	overflow: hidden;
}

p.tags{
    color: #bbb;
    font-size: 14px;
    margin-top: 5px;
}

#quote {
    width: 60%;
    padding: 40px 20%;
    background: url(images/quote.png) no-repeat center 20px;
    background-color: #efefef;
    color: #4e4e4e;
    font-size: 20px;
    line-height: 1.6em;
    text-align: center;    
}

footer {
    background: #202020;
    padding: 30px 0;
    border-top: 10px solid #151515;
}

footer h4 {
    margin: 0;
    color: #555;
    text-transform: uppercase;
    font-size: 18;
}

footer ul {
    float:left;
    width: 25%;
    list-style-type: none;
}

footer:after {
    content: "";
    display: block;
    clear: both;
}

footer li {
    color: #aaa;
    width: 80%;
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.6em;
}

footer li.tw {
    padding-left: 20px;
    background: url(images/twitter.png) no-repeat left 6px;
}

#copyright {
    clear: both;
    padding-top: 30px;
    margin-top: 30px;
    float: left;
    width: 100%;
    border-top: 2px solid #333;
    color: #999;
    font-size: 14px;
}

 .date {
    font-size: 12px;
    margin-top: -15px;
}

footer li.coord {
    padding-left: 20px;
    background: url(images/coordinates.png) no-repeat left 3px;
}

footer li.phone {
    padding-left: 20px;
    background: url(images/phone.png) no-repeat left 5px;
}

footer li.email {
    padding-left: 20px;
    background: url(images/email.png) no-repeat left 6px;
}

/*Media queries*/



@media screen and (max-width: 1120px) {
    #rounded-image {
        left: 44%;
        width: 180px;
    }

    #first-message {
        border-radius: 50px;
        position: absolute;
        top: 300px;
        left: 47%;

        text-align: center;
        color: white;
        padding: 10px;
    }

    #second-message {
        border-radius: 50px;
        position: absolute;
        top: 380px;
        left: 40%;

        text-align: center;
        color: white;
        padding: 10px;
    }

    #facebook-button {
        top: 35%;
        left: 35%;
    }

    #linkedin-button {
        top: 45%;
        left: 40%;
    }

    #github-button {
        top: 36%;
        left: 65%;
    }

    #pastebin-button {
        top: 45%;
        left: 60%;
    }
}

@media screen and (max-width: 1080px) {

    #rounded-image {
        left: 44%;
        width: 17%;
    }
}

@media screen and (max-width: 960px) {

	footer ul {
		width: 50%;
	}

	footer ul:nth-child(odd) {
		clear: both;
	}

	#quote {
		width: 90%;
		padding: 40px 5%;
	}
}

@media screen and (max-width: 860px) {
    #rounded-image {
        top: 20%;
        left: 44%;
        width: 17%;
    }
}

@media screen and (max-width: 768px) {
	header nav {
		float: none;
	}

	header nav li {
		margin-left: 0;
		width: 16.66%;
		text-align: center;
		font-size: 14px;
	}

	header h1.logo {
		float: none;
		margin: 0 auto 15px;
	}

    #rounded-image {
        top: 25%;
        left: 44%;
        width: 17%;
    }
}

@media screen and (max-width: 730px) {

    #first-message {
        visibility: hidden;
    }

    #second-message {
        visibility: hidden;
    }

    #github-button {
        top: 36%;
        left: 63%;
    }

    #pastebin-button {
        top: 45%;
        left: 58%;
    }

}

@media screen and (max-width: 640px) {

    #facebook-button {
        top: 45%;
        left: 35%;
    }

    #linkedin-button {
        top: 46.3%;
        left: 45%;
    }

    #pastebin-button {
        top: 46.2%;
        left: 53.6%;
    }

    #github-button {
        top: 46.4%;
        left: 62.5%;
    }
}

@media screen and (max-width: 550px) {

    #rounded-image {
        position: relative;
    }

    #social-buttons {
        background:linear-gradient(90deg, #0f0c29 0%,#302b63 50%,#24243e 100% );
    }

    #facebook-button {
        position: relative;
        top: 5px;
        left: 27%;
        transform: translateX(-50%);
    }

    #linkedin-button {
        position: relative;
        top: -2px;
        left: 27%;
        transform: translateX(-50%);
    }

    #github-button {
        position: relative;
        top: -2px;
        left: 31%;
        transform: translateX(-60%);
    }

    #pastebin-button {
        position: relative;
        left: 33%;
        transform: translateX(-50%);
    }

}

@media screen and (max-width: 480px) {

    .logo {
        text-align: center;
    }

    #rounded-image {
        top: 25%;
        left: 34%;
        width: 30%;
    }
    
	#quote {
		font-size: 14px;
		font-weight: bold;
	}
    
	footer ul {
		width: 100%;
		border-top: 1px solid #333;
		
	}
    
    header nav li {
        float: none;
        width: 100%;
        margin: 0;
    }
    
    header nav {
        background: #333;
    }
    
    header .wrapper {
        width: 100%;
        padding: 0;
    }
    
    header {
        padding-bottom: 0;
    }
    
    header nav li a {
        display: block;
        padding: 10px;
        text-align: center;
        color: #999;
        border-top: 2px solid #fffff5;
    }
    
    #burger-nav {
        margin-bottom: 4%;
        width: 100%;
        height: 55px;
        background: url(../images/burger-me.png) no-repeat center 98%;
        cursor: pointer;
    }
    
    header nav ul {
        height: 0;
        overflow: hidden;
    }
    
    header nav ul.open {
        height: auto;
    }
}